/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* varriables & RESET */
:root {
  --Frence-violate: #3a3df8;
  --black-chocolate: #191f5e;
  --black: #161616;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img {
  display: block;
  /* max-width: 100%; */
}
/*====================
    Base Style 
 ======================*/
body {
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  max-width: 1321px;
  margin: 50px 0;
}
/*===================
Hero Styles 
=====================*/
.hero {
  background-color: var(--black-chocolate);
  display: flex;
  align-items: center;
  /* min-height: 600px; */
  border-radius: 30px;
}
.hero-info {
  width: 531px;
  margin-left: 106px;
}
.hero-info h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: white;
}
.hero-info p {
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin: 30px 0 40px 0;
}
.hero-img img {
  width: 581px;
  height: 613px;
}
.hero-btn {
  color: white;
  text-decoration: none;
  background-color: var(--Frence-violate);
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
  border: none;
}
.hero-btn:hover {
  animation: pulse 1s infinite;
  transition: 0.3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/*========================
        Main Content 
 =========================*/
.main-content {
  display: flex;
}
.navbar {
  background-color: var(--black-chocolate);
  width: 312px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu {
}
.menu a {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 64px;
  background-color: white;
  margin-top: 10px;
  text-align: center;
  width: 252px;
  height: 64px;
  margin-bottom: 15px;
  border-radius: 10px;
}
#selected {
  background-color: var(--Frence-violate);
  color: white;
}
.matches,
.blogs {
  margin-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.match {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 50px 30px;
}
.flag-2 img {
  width: 312px;
}
.flag {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.flag h2 {
  margin: 0 10px;
  font-weight: 700;
  font-size: 16px;
}
.match-details h2 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #161616;
  margin-bottom: 10px;
}
.match-details p {
  font-weight: 400;
  font-size: 16px;
  color: #4d4d4d;
  text-align: center;
}

.view-all {
  display: none;
}
/* blog */
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  width: 312px;
}
.blog-img img {
}
.blog-stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.blog-details button {
  margin: 30px;
}
.transfer-btn {
  margin: 20px;
}
.blog .match-details h2 {
  text-align: left;
  font-size: 18;
  font-weight: 600;
  padding: 5px 10px;
}
/*=========================
 Footer 
 ==========================*/
footer {
  width: 100vw;
  background-color: var(--black-chocolate);
  color: white;
  text-align: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  width: 100vw;
}
footer hr {
  border-color: rgba(211, 211, 211, 0.13);
  margin: 20px auto;
  width: 80%;
}
footer .link a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.icon {
  font-size: 25px;
  margin-top: 30px;
}
.icon a {
  color: white;
  margin: 20px 10px;
}
/*===================
 Media Querey 
 ====================*/
/* For Mobile devises */
@media only screen and (max-width: 576px) {
  .container {
    max-width: 520px;
  }
  .hero {
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
  .hero-info {
    width: 80%;
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
  .hero-info h1 {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
  }
  .hero-info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .hero-img img {
    width: 100%;
    height: 100%;
  }
  .main-content {
    flex-direction: column;
    align-items: center;
  }
  .matches,
  .blogs {
    grid-template-columns: 1fr;
    margin: 30px 0 0 0;
  }
  footer {
    height: auto;
  }
  .footer-container {
    margin: 30px 0;
  }
  .link {
    display: flex;
    flex-direction: column;
  }
  .link a {
    margin-bottom: 10px;
  }
  footer hr {
    width: 100%;
  }
}
/* For Tablet devises */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    max-width: 900px;
  }
  .hero {
    height: 70vh;
    width: 90vw;
    margin: 0 auto;
  }
  .hero-info {
    margin-left: 20px;
    width: 40%;
  }
  .hero-info h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  .hero-info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .hero-img img {
    width: 50vw;
    height: 70vh;
  }
  .main-content {
    flex-direction: column;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
    width: 80vw;
  }
  .menu a {
    border: 1px solid #e8e8e8;
    width: 230px;
    margin: 0 5px;
    margin: 0;
  }
  .matches,
  .blogs {
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
    padding: 0px 50px 30px 50px;
    margin: 0;
  }
  .view-all {
    display: block;
    width: 200px;
    text-decoration: none;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--Frence-violate);
    text-align: center;
    color: white;
    margin: 0 auto;
  }
  footer {
  }
}
@media screen and (min-width: 993px) and (max-width: 1220px) {
  .hero {
    min-height: 90vh;
    width: 90vw;
    margin: 0 auto;
  }
  .container {
    max-width: 1000px;
  }
  .matches,
  .blogs {
    margin-left: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
